<!DOCTYPE html>

<head>
    <title>Error 404</title>
    <link rel="icon" href="/img/gg.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errormsg}}</p>
    </div>
    
    {{>footer}}
</body>
</html>