<!DOCTYPE html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/gg.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this to get weather!</p>
        <form action="">
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>
    </div>
    
    {{>footer}}
    <script src="/js/client.js"></script>
</body>
</html>